
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sprite-graffiti');
@font-face {
    font-family: Kollektif;
    src: url(Kollektif.ttf);
}
:root{
    --red:#0831a1;
    --white:#fff;
    --dark:#1e1c2a;
    --color-primary-1: #fff;
    --color-primary-2: #76bafa;
    --color-primary-3: #5b66f8;
    --color-primary-4: #0400ff;
    --color-primary-5: #2b6dfc;
    --color-primary-6: #3d40ff;

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #3f6884;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: relative;
}
.navigation .logo{
    color: #3f6884;
    font-size: 1.7rem;
    font-weight: 600;
}
.logo{
    font-family: 'Sprite Graffiti', sans-serif;
}
.logo span{
    color: #3f6884;
    font-family: 'Sprite Graffiti', sans-serif;                           
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: #3f6884;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: #2b485b;
}

.nav-item.active a {
    color: #2b485b;;
}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.add_title{
        padding: 0.5rem;
        background-repeat: no-repeat;
        display: flex;  
        flex-direction: row;
        gap: 8%;
        color: white;
        align-items: center;
        justify-content: center;
        height: 100px;
        margin-top: 20px; 
}

.total form{
    background-color: #4b7a99;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    gap: 8%;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    width: 90vw;
    height: 75vh;
}
.secao{
    display: flex;
    vertical-align:middle;
    justify-content: center;
}

h2{
    font: large;
}

.esquerda{
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
    width: 40%;
}

.direita{
    display: flex;
    flex-direction: column;
    gap: 50px 50px;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.direita{
    text-align: center;
}

.input_email, .input_tel, .mensagem, .nome {
    width: 100%;
    height: 50px;
}

.email_tele{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

h1{
    font-size: 44px;
    width: 100%;
    text-align: center;
}
.feedbackletter{
    width: 100%;
}

.contato{
    font-size: 22px;
    text-align: justify;
    width: 100%;
}
.contatodiv{
    width: 100%;
}

.icon{
    width: 45px;
}

.logoeduca{
    width: 200px;
    margin: 0 auto;
}

.enviar{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

input, textarea {
    border-radius: 15px;
    background-color: #CAE8FF;
    border: none;
    box-sizing: border-box;
    outline: none;
    padding: 0 15px;
    color: #1d1d1d;  /* Cor do texto */
    font-size: 1rem;  /* Tamanho do texto */
}

input {
    height: 69px;
}

label{
    font-size: 1.3rem;
}

.mensagem{
    height: 250px;
    resize: none; /* Previne o redimensionamento do textarea */
    padding: 15px; /* Adiciona padding para o texto não ficar encostado na borda */
    overflow-y: auto; /* Adiciona barra de rolagem se o conteúdo ultrapassar a altura */
    word-wrap: break-word; /* Quebra palavras longas */
    white-space: pre-wrap; /* Mantém quebras de linha e espaços */
}

.enviar input{
    width: 180px;
    height: 55px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #004AAD;
    font-family: Arial;
    font-size: 19px;
}

.enviar input:hover{
    background-color: #0c5ec9;
    color: #e6e6e6;
}

.iconsinfo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    border: none;
    font-family: Arial;
    font-size: 20px;
}

input[type="file"] {
    display: none; /* Oculta o campo de entrada padrão */
}

.custom-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #218838; /* Muda a cor ao passar o mouse */
}

details {
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

summary {
    font-weight: bold;
}

summary::-webkit-details-marker {
    display: none; /* Remove o marcador padrão do summary */
}

.options {
    padding: 10px;
}


/* Media Queries */
@media (max-width: 1024px) {
    .navigation ul {
        gap: 2rem;
    }
    .total {
        flex-direction: column;
        gap: 2rem;
    }
    .esquerda, .direita {
        width: 80%;
        max-width: none;
    }
    .logoeduca {
        margin-left: 0;
    }
    .email_tele {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .navigation ul {
        flex-direction: column;
        gap: 1rem;
    }
    .navigation ul li {
        margin-bottom: 1rem;
    }
    .total {
        flex-direction: column;
        gap: 2rem;
    }
    .esquerda, .direita {
        width: 100%;
        max-width: none;
    }
    .logoeduca {
        margin-left: 0;
    }
    .email_tele {
        flex-direction: column;
        gap: 1rem;
    }
}
