@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sprite-graffiti');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --red:#0831a1;
    --white:#fff;
    --dark:#1e1c2a;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    color: var(--dark);
    background-color: #3f6884;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: relative;
}
.navigation .logo{
    color: #3f6884;
    font-size: 1.7rem;
    font-weight: 600;
}
.logo{
    font-family: 'Sprite Graffiti', sans-serif;
}
.logo span{
    color: #3f6884;
    font-family: 'Sprite Graffiti', sans-serif;                           
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: #3f6884;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: #2b485b;;
}

.nav-item.active a {
    color: #2b485b;;
}


.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}

.all{
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.descricao{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.general {
    background-color: #4b7a99;
    margin: auto;
    width: 80%;
    min-height: calc(100vh - 240px); /* Ajusta a altura para compensar o espaço */
    margin-top: 5%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.elements{
    text-align: center;
}
.titulo{
    margin-top: -3%;
    font-size: 1.5rem;
    color: white;
}

video{
    margin: 2.5%;
    width: 60%;
    height: 500px;    
}

.descricao{
    font-size: 1.3rem;
    color: white;
}